<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascript/jquery-3.5.1.min.js"></script>
    <script src="/javascript/popper.min.js"></script>
    <script src="/javascript//bootstrap.min.js"></script>
    <script src="/javascript/vue.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/fontello.css">
    <link rel="stylesheet" href="/stylesheets/sider.css">
    <link rel="stylesheet" href="/stylesheets/member.css">

    <title>Document</title>
    <style>
        .dblock {
            height: calc(100vh - 186px);
        }

        .borderList:last-child{
            /* opacity: 0; */
        }
    </style>

</head>

<body>
    <!-- 左邊sider -->
    <%- include('mSider', {active}); %>

    <!-- 右邊內容放置區 -->
    <div id="app" class="containerRight">
        <div class="inWrapper">
            <!-- 上方頁籤 -->
            <div class="topBtnGroup topBtnPadding">
                <button @click="goTo(1)" class="text20R dbtn btnGY">訂訂行事曆</button>
                <button @click="goTo(2)" class="text20R dbtn btnGY">我的團體</button>
                <button @click="goTo(3)" class="text20R dbtn btnGY btnY">我的訂單</button>
                <button @click="goTo(4)" class="text20R dbtn btnGB">我的投票</button>
            </div>
            <!-- 內容區塊 -->
            <div class="dblock givePadding mt-m">
                <!-- 內容按鈕 -->
                <div class="clearfix mb-s">
                    <button class="text20RG dbtn btnG" @click="goBack"><i class="icon-left-open mr-2"></i>返回</button>
                    <button v-if="readyComment" type="button" class="text20R btnY dbtn float-right mr-3"
                        data-toggle="modal" data-target="#makeComment">
                        評價店家
                    </button>
                    <button v-if="(productList[0].orderDetailID)&&(!readyComment)&&(!overOrderTime)" type="button"
                        class="text20R btnR dbtn float-right mr-3" data-toggle="modal" data-target="#cancelOrder">
                        取消點餐
                    </button>
                    <button v-if="(!productList[0].orderDetailID)&&(!readyComment)&&(!overOrderTime)"
                        class="text20R dbtn btnY float-right mr-3" data-toggle="modal"
                        data-target="#comfirmOrder">確認點餐</button>
                    <button v-if="(productList[0].orderDetailID)&&(!readyComment)&&(!overOrderTime)"
                        class="text20R dbtn btnR float-right mr-3" data-toggle="modal"
                        data-target="#deleteOrder">刪除訂單</button>
                </div>
                <!-- 捲軸範圍 -->
                <div class="scrollList orderVoteListM">
                    <!-- 上方內容 -->
                    <div class="ml-4">
                        <div class="row mb-s mTD">
                            <div class="col-2">
                                <span class="text20B">團名名稱</span>
                            </div>
                            <div class="col-10">
                                <span class="text20B ">{{order[0].groupName}}</span>
                            </div>
                        </div>
                        <div class="row mb-s mTD">
                            <div class="col-2">
                                <span class="text20B">餐點送達時間</span>
                            </div>
                            <div class="col-10">
                                <span class="text20B">{{order[0].orderArrivedTime}}</span>
                            </div>
                        </div>
                        <div v-if="!alreadyOrder" class="row mb-s mTD">
                            <div class="col-2">
                                <span class="text20B">點餐截止時間</span>
                            </div>
                            <div class="col-10">
                                <span class="text20B textR">{{order[0].orderDeadline}}</span>
                            </div>
                        </div>
                    </div>

                    <!-- 中間顯示區 -->
                    <div class="orderSection">
                        <div class="orderSectionInner mt-s ml-4">
                            <div class="row orderSectionMTD">
                                <div class="col-7">
                                    <img :src="'/image/store/' +order[0].storePhoto" alt=""
                                        class="float-left orderSectionImg clipCircle mr-3">
                                    <span class="text24B">{{order[0].storeName}}</span>
                                </div>
                                <div class="col-3 text-right pr-3">
                                    <span v-if="(!productList[0].orderDetailID)&&(!readyComment)&&(!overOrderTime)"
                                        class="text20B">已選擇<span
                                            class="eng20R textY mr-3 ml-3">{{totalQuality}}</span>項餐點</span>
                                </div>
                                <div class="col-2 text-right pr-4">
                                    <span class="text20B">總金額 <span class="eng20R price">
                                            <span class=" align-middle">{{total}}</span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                             <!-- 中間頁籤 -->
                            <div v-if="(!productList[0].orderDetailID)" class="mTD">
                                <span ><span :class="{textB:tab==-1}" @click="changeTab(-1,-1)" style="cursor:pointer" class="text20R text-decoration-none pr-3 pl-3 borderRight">全部</span><span class="textG borderList">|</span></span>
                                <span v-for="(category,index) in categoryList"><span :class="{textB:index==tab}" @click="changeTab(category.categoryID,index)" style="cursor:pointer" class="text20R text-decoration-none pr-3 pl-3 borderRight">{{category.categoryName}}</span><span class="textG borderList">|</span></span>
                            </div>
                        </div>
                    </div>

                    <!-- 下方點餐區 -->
                    <div class="mt-4 ml-4 pt-1">
                        <div class="row mb-n1 orderSectionMTD">
                            <div v-for="(product,index) in productList" class="col-6 itemBorder orderProductItem mb-4">
                                <div class="row align-items-center">
                                    <div class="col-2">
                                        <img :src="'/image/store/' +product.productPhoto" alt="" class="itemImg">
                                    </div>
                                    <div class="col-4 text20B pl-2">
                                        {{product.productName}}
                                    </div>
                                    <div class="col-3">
                                        <span class="eng20R price">
                                            <span class=" align-middle">{{product.productPrice}}</span>
                                        </span>

                                    </div>
                                    <div class="col-3 countP ml-n4">
                                        <i v-if="(!alreadyOrder)" @click="if(product.quality>0){product.quality--}"
                                            class="icon-minus"></i>
                                        <p class="eng20R text-center"><span v-if="alreadyOrder"
                                                :class="alreadyOrder? 'float-left ml-5 mt-1 mr-n5':'' ">*</span>{{product.quality}}
                                        </p>
                                        <i v-if="!alreadyOrder" @click="product.quality++" class="icon-plus"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 刪除訂單彈跳框 -->
        <div class="modal fade sm2Btn" id="deleteOrder">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text28B">是否要刪除訂單</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class=" icon-close"></i>
                        </button>
                    </div>
                    <p class="modal-body text24R">
                        刪除訂單後，其他團員的點餐也將一併被
                        <span class="redColor">取消餐點
                        </span>，並退還全額。
                    </p>
                    <div class="modal-footer">
                        <button class="text20R dbtn btnW" data-dismiss="modal">返回離開</button>
                        <button class="text20R dbtn btnR ml-3">刪除訂單</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 刪除完成彈跳框 -->
        <!-- <button type="button" class="btnR dbtn" data-toggle="modal" data-target="#DeleteSuccess">
            刪除訂單
        </button>
        <div class="modal fade sm1Btn" id="DeleteSuccess">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text28B w-100 text-center ">訂單已被刪除</h5>
                    </div>

                    <div class="modal-footer">
                        <button class="text20R dbtn btnY m-auto">確定</button>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- 檢查餐點彈跳框 -->
        <div class="modal fade m2Btn" id="comfirmOrder">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text28B">請確認餐點</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class=" icon-close"></i>
                        </button>
                    </div>
                    <div class="orderProductItemList text20B">
                        <div class="scrollList orderVoteList">
                            <div v-for="(product,index) in fitlterProductList"
                                class="d-flex justify-content-between orderProductItem mb-2">
                                <div>
                                    <img :src="'/image/store/' +product.productPhoto" alt="" class="itemImg">
                                    <span class="pl-2">
                                        {{product.productName}}
                                    </span>
                                </div>
                                <div>
                                    <span class="eng20R price">
                                        <span class="align-middle">{{product.productPrice}}</span>
                                    </span>
                                </div>
                                <div>
                                    <span class="eng20R align-middle productQuantity pr-5">{{product.quality}}</span>
                                </div>
                            </div>
                        </div>
                        <p class="text-right" style="border-top:solid 2px var(--dBlack);">
                            <span class="text20B">總金額
                                <span class="eng20R price">
                                    <span class="align-middle">{{total}}</span>
                                </span>
                            </span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button class="text20R dbtn btnW" data-dismiss="modal">取消返回</button>
                        <button @click="sendOrder" class="text20R dbtn btnY ml-3">完成訂單</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 點餐完成彈跳框 -->
        <!-- <button type="button" class="btnY dbtn" data-toggle="modal" data-target="#orderSuccess">
            點餐成功
        </button>
        <div class="modal fade sm1Btn" id="orderSuccess">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text28B w-100 text-center ">點餐成功</h5>
                    </div>

                    <div class="modal-footer">
                        <button class="text20R dbtn btnY m-auto">確定</button>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- 取消點餐彈跳框 -->

        <div class="modal fade sm2Btn" id="cancelOrder">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text28B">是否要取消點餐</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class=" icon-close"></i>
                        </button>
                    </div>
                    <p class="modal-body text24R">
                        取消點餐後，我們將會退還全額
                    </p>
                    <div class="modal-footer">
                        <button class="text20R dbtn btnW" data-dismiss="modal">取消離開</button>
                        <button class="text20R dbtn btnY ml-3">取消點餐</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 訂單成立彈跳框 -->
        <!-- <button type="button" class="btnY dbtn" data-toggle="modal" data-target="#createOrderSuccess">
            訂單成立
        </button>
        <div class="modal fade sm1Btn" id="createOrderSuccess">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text28B w-100 text-center ">建立訂單成功</h5>
                    </div>

                    <div class="modal-footer">
                        <button class="text20R dbtn btnY m-auto">確定</button>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- 評價彈跳框-->
        <div class="modal fade inputL" id="makeComment">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text28B">{{order[0].storeName}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class=" icon-close"></i>
                        </button>
                    </div>
                    <div class="modal-continer">
                        <p class="text24B mb-m textY" style="font-size: 1.6rem;">
                            <i @click="setScore(1)" class="mr-1"
                                :class="(newCommentData.score)>0? 'icon-spoon':'icon-borderspoon'"></i>
                            <i @click="setScore(2)" class="mr-1"
                                :class="(newCommentData.score)>1? 'icon-spoon':'icon-borderspoon'"></i>
                            <i @click="setScore(3)" class="mr-1"
                                :class="(newCommentData.score)>2? 'icon-spoon':'icon-borderspoon'"></i>
                            <i @click="setScore(4)" class="mr-1"
                                :class="(newCommentData.score)>3? 'icon-spoon':'icon-borderspoon'"></i>
                            <i @click="setScore(5)" class="mr-1"
                                :class="(newCommentData.score)>4? 'icon-spoon':'icon-borderspoon'"></i>
                        </p>
                        <p class="text24B ">
                            評價
                        </p>
                        <textarea v-model="newCommentData.commentContent" class="text20RG multiText398 mt-2 mb-m"
                            placeholder="請輸入您對這次的訂購體驗" style="width: 380px;"></textarea>
                        <button @click="sendComment" class="text20R dbtn btnY w-100">張貼評價</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>


        let app = new Vue({
            el: "#app",
            data: {
                memberData: JSON.parse('<%- mMemberData %>'),
                order: JSON.parse('<%- order %>'),
                categoryList: JSON.parse('<%- categoryList %>'),
                productList: JSON.parse('<%- productList %>'),
                newCommentData: {
                    score: 5,
                    commentContent: "",
                    storeID: "",
                },
                tab:-1,
            },
            mounted() {

                if (this.productList.length < 1) {
                    function needOrder() {
                        fetch('/mOrder/needOrder')
                            .then(function (response) {
                                return response.json();
                            })
                            .then((myJson) => {
                                // console.log(myJson);
                                this.productList = JSON.parse(myJson);
                                app.productList = this.productList;
                            });
                    }
                }
                needOrder();
            },
            computed: {
                totalQuality: function () {
                    let sum = 0;
                    this.productList.forEach(product => {
                        sum = sum + product.quality
                    });
                    return sum;
                },
                total: function () {
                    let sum = 0;
                    this.productList.forEach(product => {
                        sum = sum + (product.quality * product.productPrice)
                    });
                    return sum.toLocaleString('en-US');
                },
                fitlterProductList: function () {
                    return this.productList.filter(product => product.quality > 0)
                },
                readyComment: function () {
                    let eatTime = new Date(this.order[0].orderArrivedTime);
                    let now = new Date;
                    return now > eatTime
                },
                overOrderTime: function () {
                    let orderTime = new Date(this.order[0].orderDeadline);
                    let now = new Date;
                    return now > orderTime
                },
                alreadyOrder: function () {
                    return this.productList[0].orderDetailID !== undefined;
                },
                getStoreID: function () {
                    this.newCommentData.storeID = this.order[0].storeID
                }
            },
            methods: {
                changeTab: function (categoryID,tab) {
                    fetch('/mOrder/tab?tab='+categoryID)
                        .then(function (response) {
                            return response.json();
                        })
                        .then((myJson) => {
                            // console.log(myJson);
                            this.productList = JSON.parse(myJson);
                        });
                        this.tab=tab
                },
                sendOrder: function () {
                    fetch('/mOrder/order', {
                        method: 'post',
                        body: JSON.stringify(this.fitlterProductList),
                        headers: new Headers({
                            'Content-Type': 'application/json'
                        })
                    }).then((myJson) => {
                        // console.log(myJson);
                        console.log(myJson);
                        location.href = "/mOrderList";
                    });
                },
                sendComment: function () {
                    fetch('/mOrder/newComment', {
                        method: 'post',
                        body: JSON.stringify(this.newCommentData),
                        headers: new Headers({
                            'Content-Type': 'application/json'
                        })
                    }).then((myJson) => {
                        // console.log(myJson);
                        console.log(myJson);
                        location.href = "/mOrderList";
                    });
                },
                goBack: function () {
                    location.href = "/mOrderList";
                },
                setScore: function (viewScore) {
                    this.newCommentData.score = viewScore
                },
                goTo: function (tab) {
                    switch (tab) {
                        case 1:
                            location.href = "/mCalendar";
                            break;
                        case 2:
                            location.href = "/mGroup";
                            break;
                        case 3:
                            location.href = "/mOrderList";
                            break;
                        case 4:
                            location.href = "/mVoteList";
                            break;
                    }
                }
            },
        })

        // console.log(app.order);
    </script>

</body>

</html>