<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascript/jquery-3.5.1.min.js"></script>
    <script src="/javascript/popper.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/getDate.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/fontello.css">
    <link rel="stylesheet" href="/stylesheets/sider.css">
    <link rel="stylesheet" href="/stylesheets/notice.css">
    <link rel="stylesheet" href="/stylesheets/sEvaluation.css">
    <link rel="Shortcut Icon" type="image/x-icon" href="/image/favicon.png">
    <script src="/javascript/vue.js"></script>

    <title>Document</title>


</head>

<body>
    <!-- 左邊sider -->

    <%- include('sSider', {active}); %>

    <div class="containerRight" id='store'>
        <!-- 右邊內容放置區 -->
        <nav class="topTag title row inWrapper position-sticky mb-m">
            <span class="eng24R">{{commentData[0].star}}</span>
            <span class="star">
                <i :class="commentData[0].star>=1 ? 'icon-spoon' : 'icon-borderspoon'"></i>
                <i :class="commentData[0].star>=2 ? 'icon-spoon' : 'icon-borderspoon'"></i>
                <i :class="commentData[0].star>=3 ? 'icon-spoon' : 'icon-borderspoon'"></i>
                <i :class="commentData[0].star>=4 ? 'icon-spoon' : 'icon-borderspoon'"></i>
                <i :class="commentData[0].star==5 ? 'icon-spoon' : 'icon-borderspoon'"></i>
            </span>
            <span class="text24B">店家評價({{commentData[0].count}})</span>
            <div class="achieve text20R  ml-auto">店家接單率 {{completeRate}}%</div>
        </nav>

        <ul class="evaluationList scrollList">
            <li class="dblock d-flex" v-for='item in CommentJMData'>
                <img :src="(`/image/會員資料/大頭照/${item.memberPhoto}`)">
                <span class="content">
                    <h2 class="text24B">{{item.memberName}}</h2>
                    <div class="star">
                        <i :class="item.commentScore>=1 ? 'icon-spoon' : 'icon-borderspoon'"></i>
                        <i :class="item.commentScore>=2 ? 'icon-spoon' : 'icon-borderspoon'"></i>
                        <i :class="item.commentScore>=3 ? 'icon-spoon' : 'icon-borderspoon'"></i>
                        <i :class="item.commentScore>=4 ? 'icon-spoon' : 'icon-borderspoon'"></i>
                        <i :class="item.commentScore==5 ? 'icon-spoon' : 'icon-borderspoon'"></i>
                    </div>
                    <p class="text20R">{{item.commentContent}}</p>
                    <p class="text16">{{item.commentTime}}</p>
                </span>
            </li>
        </ul>
    </div>

    <!-- vue -->
    <script>
       

        //vue資料
        // 店家


        let store = new Vue({
            el: '#store',
            data: {
                storeData: JSON.parse('<%- storeData %>'),
                commentData: JSON.parse('<%- commentData %>'),
                orderData: JSON.parse('<%- orderData %>'),
                CommentJMData: JSON.parse('<%- CommentJMData %>')
            },
            mounted:function () {
                    let time = this.CommentJMData.length;
                    for (let index = 0; index < time; index++) {
                        this.CommentJMData[index].commentTime = getDate(this.CommentJMData[index].commentTime);
                    }
                
            },
            computed: {
                completeRate: function () {
                    let complete = 0;
                    let count = this.orderData.length;
                    for (let index = 0; index < count; index++) {
                        if (this.orderData[index].orderStatus > 0) {
                            complete += 1;
                        }
                    }
                    return Math.floor(complete / count * 100);
                },
               
            }
        })
 
    </script>
</body>

</html>