<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascript/jquery-3.5.1.min.js"></script>
    <script src="/javascript/popper.min.js"></script>
    <script src="/javascript//bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/fontello.css">
    <!-- <link rel="" href="../fontello-b562579f/css/fontello.css"> -->
    <link rel="stylesheet" href="/stylesheets/sider.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <link rel="stylesheet" href="/stylesheets/member.css"> -->
    <!-- <link rel="stylesheet" href="/stylesheets/sEvaluation.css"> -->
    <link rel="stylesheet" href="/stylesheets/storeInformation.css">
    <link rel="stylesheet" href="/stylesheets/sEvaluation.css">
    <link rel="stylesheet" href="/stylesheets/member.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="/javascript/getDate.js"></script>
    <link rel="Shortcut Icon" type="image/x-icon" href="/image/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />

    <title>店家資訊</title>
    <style>
        .dblock:first-child {
            margin-top: 0;
        }

        .countrySelect {
            background-color: var(--dYellow);
            border: 1px solid var(--dYellow);
        }

        .countrySelectText {
            color: var(--dWhite);
        }
    </style>


</head>

<body>
    <%- include('sSider', {active}); %>
    <div id="storeInformation">
        <div class="containerRight" v-for="item in dbStoreInformation">
            <!-- 右邊內容放置區 -->
            <div class="btnDiv mb-m">
                <div class="rightbtn">
                    <button class="text20BW dbtn btnB" style="margin-right: 15px;" data-toggle="modal"
                        :data-target="'#storeModel'+ dbStoreInformation[0].storeID">店家資訊預覽</button>
                    <!-- <button class="text20R dbtn btnW" style="margin-right: 5px;">取消</button> -->
                    <button class="text20R dbtn btnY" data-toggle="modal" data-target="#comfirm2Btn">儲存</button>
                </div>
            </div>
            <div class="row">
                <div class="col-8 mInfo" style="height: calc(100vh - 190px); ">
                    <div class="d-flex">
                        <div :style="'background-image: url(/image/store/' + item.storePhoto + ');'"
                            class="memberPhoto icon-photo-1">
                        </div>
                    </div>
                    <!-- 左邊店家基本資訊 -->
                    <div class="information row">
                        <div class="  scrollList" style="max-height: calc(100vh - 380px);">
                            <div class=" storeTitleDiv w-100">
                                <span class="text20B storeTitle">店家名稱</span>
                                <input type="text" class="singleText398 text20R" placeholder="請輸入店家名稱"
                                    v-model="dbStoreInformation[0].storeName">
                            </div>
                            <div class=" storeTitleDiv w-100">
                                <span class="text20B storeTitle">店家照片</span>
                                <span class="text20R" style="margin-right: 20px; margin-left: 20px;">index.jpeg</span>
                                <button class="dbtn btnW text20R">上傳照片</button>
                            </div>
                            <div class=" storeTitleDiv w-100">
                                <span class="text20B storeTitle">店家電話</span>
                                <input type="text" class="singleText398 text20R" placeholder="請輸入店家電話"
                                    v-model="dbStoreInformation[0].storePhone">
                            </div>
                            <div class=" storeTitleDiv w-100">
                                <span class="text20B storeTitle">店家地址</span>
                                <input type="text" class="singleText398 text20R" placeholder="請輸入完整地址"
                                    v-model="dbStoreInformation[0].storeAddress">
                            </div>
                            <div class=" storeTitleDiv w-100">
                                <span class="text20B storeTitle">營業時間</span>
                                <input type="text" class="singleText398 text20R" placeholder="請輸入營業時間"
                                    v-model="dbStoreInformation[0].storeOpen">
                            </div>
                            <div class=" storeTitleDiv w-100">
                                <span class="text20B storeTitle">固定公休</span>
                                <input type="text" class="singleText398 text20R" placeholder="請輸入公休日"
                                    v-model="dbStoreInformation[0].storeClose">
                            </div>
                            <div class=" storeTitleDiv w-100">
                                <span class="text20B storeTitle"
                                    style="display: inline-block;position: relative;bottom: 100px;">店家簡介</span>
                                <textarea type="text" class="multiText398 text20R d-inline-block aboutTextarea"
                                    placeholder="請輸入店家簡介" v-model="dbStoreInformation[0].storeIntroduction"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 右邊配送地區 -->
                <div class="col-4">
                    <div class="dblock delivery ml-3 ">

                        <div class="mb-l">
                            <span class="text20B" style="margin-right: 50px;">配送地區</span>
                            <button class="dbtn text20R" data-toggle="modal" data-target="#comfirm2BtnW1340"
                                style="margin-bottom: 24px;background-color: var(--dLightGray);">
                                選擇地區
                                <span class="ml-2">+</span>
                            </button>
                            <br>
                            <div class="w-100 scrollList" style="max-height: calc(100vh - 600px);">
                                <div v-for="delivery in dbStoreDelivery">
                                    <button class="dbtn btnY text20B"
                                        style="margin-bottom: 20px;padding-left: 16px;padding-right: 12px;">{{ delivery.country }}{{ delivery.districtName }}
                                        <i class="icon-close"></i>
                                    </button><br>
                                </div>
                            </div>
                        </div>
                        <div style="height: 200px;">
                            <span class="text20B" style="margin-right: 16px;">注意事項</span><span
                                style="font-size: 16px; color: var(--dDeepGray);">(選填)</span>
                            <textarea type="text" class="multiText398 text20R noteTextarea w-100" placeholder="填入配送注意事項"
                                v-model="dbStoreInformation[0].storeNotice"></textarea>
                        </div>

                    </div>
                </div>
                <!-- 店家資訊預覽彈框 -->
                <!-- 店家彈框(有評價) -->
                <div class="modal fade storeModel" :id="'storeModel'+ dbStoreInformation[0].storeID">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="storeModelImg align-middle"
                                :style="'background-image: url(/image/store/' + item.storeBanner + ');'">
                                <div style="display: inline-block;">
                                    <div class="storeModelImgContent">
                                        <span class="text28B mr16">{{dbStoreInformation[0].storeName}}</span>
                                        <span class="eng24R mr16">{{dbCommentScore[0].star}}</span>
                                        <i :class="dbCommentScore[0].star>=1 ? 'icon-spoon' : 'icon-borderspoon'"
                                            class="spoon"></i>
                                        <i :class="dbCommentScore[0].star>=2 ? 'icon-spoon' : 'icon-borderspoon'"
                                            class="spoon"></i>
                                        <i :class="dbCommentScore[0].star>=3 ? 'icon-spoon' : 'icon-borderspoon'"
                                            class="spoon"></i>
                                        <i :class="dbCommentScore[0].star>=4 ? 'icon-spoon' : 'icon-borderspoon'"
                                            class="spoon"></i>
                                        <i :class="dbCommentScore[0].star==5 ? 'icon-spoon' : 'icon-borderspoon'"
                                            class="spoon"></i>
                                        <p class="text20RG" style="margin-top: 8px;">訂單完成率 {{completeRate}}%
                                        </p>
                                        <p class="text20R" style="margin-top: 8px;">
                                            {{ dbStoreInformation[0].storeAddress }}</p>
                                    </div>
                                    <div class="storeModelImgContentBottom">
                                        <i class="icon-heart" style="opacity: 1;z-index: 999;"
                                            v-on:click="handleLike(item.id)" v-if="item.likeStore"></i>
                                        <i class="icon-heart" style="z-index: 999;" v-on:click="handleLike(item.id)"
                                            v-else></i>
                                        <button class="dbtn dbtnG text20R" style="float: right;">快速安排訂單</button>
                                    </div>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <i class="storeClose icon-close"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="modal-header col-2" style="padding-right: 0px;">
                                    <ul class="storeUl" v-if="tab === 1" v-show="tab===1">
                                        <li v-for="(meal,index) in productList.sort">
                                            <a class="storeContent" :href="'#title'+index">{{meal}}</a>
                                            <!-- <a class="storeContent actMeals" :href="'#title'+meal.cid">{{meal.name}}</a> -->
                                        </li>
                                    </ul>


                                </div>

                                <div class="col-10 ml-n5 mr-5">
                                    <div
                                        style="background-color: var(--dWhite);width: 500px;height: 86px;padding-top: 40px;">
                                        <span :class="{ act : tab == 1}" class="dTag text24RG"
                                            v-on:click="tabClick(1)">美味餐點</span>
                                        <span :class="{ act : tab == 2}" class="dTag text24RG"
                                            v-on:click="tabClick(2)">詳細資訊</span>
                                        <span :class="{ act : tab == 3}" class="dTag text24RG"
                                            v-on:click="tabClick(3)">店家評價</span>
                                    </div>
                                    <br>
                                    <!-- 美味餐點 -->
                                    <div class="mealsScroll" v-if="tab === 1" v-show="tab===1">
                                        <div v-for="(meal,index) in productList.sort">
                                            <div class="text28B mt-l" style="margin-bottom: 27px;" :id="'title'+index"
                                                :name="'title'+index">{{meal}}
                                            </div>
                                            <div class="meals">
                                                <div class="mealsCard" v-for="detail in productList.map[meal].pSort">
                                                    <div style="width: 170px; height: auto;" class="text20B mealsName">
                                                        {{ detail.productName }}
                                                    </div>
                                                    <div class="mealsDetail" style="width: 170px; height: auto;">
                                                        {{ detail.productinformation }}</div>
                                                    <div class="mealsPrice">
                                                        <span class="eng20R price">
                                                            <span class=" align-middle">{{ detail.productPrice }}</span>
                                                        </span>
                                                    </div>
                                                    <div class="mealsCardDiv"
                                                        style="text-align : center;line-height: 148px;display: block;">
                                                        <img style="margin-left: -20px;"
                                                            :src="'/image/store/' + detail.productPhoto" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 店家簡介 -->
                                    <div class="mealsScroll" v-if="tab === 2" v-show="tab===2">
                                        <div class="text28B mt-l" style="margin-bottom: 11px;">店家簡介</div>
                                        <div style="padding-right: 165px;padding-left: 16px;">
                                            <p class="text20R" style="color: var(--dDeepGray);">
                                                {{ dbStoreInformation[0].storeIntroduction }}</p>
                                        </div>
                                        <div class="text28B mt-l" style="margin-bottom: 11px;">店家資訊</div>
                                        <div style="padding-right: 165px;padding-left: 16px;">
                                            <p class="text20R" style="color: var(--dDeepGray);margin-bottom: 7px;">
                                                <img src="/image/Phone.png" class="storeAbout">
                                                {{ dbStoreInformation[0].storePhone }}</p>
                                            <p class="text20R" style="color: var(--dDeepGray);margin-bottom: 7px;">
                                                <img src="/image/Places.png" class="storeAbout">
                                                {{ dbStoreInformation[0].storeAddress }}</p>
                                            <p class="text20R" style="color: var(--dDeepGray);margin-bottom: 15px;">
                                                <img src="/image/Clock.png" class="storeAbout">
                                                {{ dbStoreInformation[0].storeOpen }}
                                            </p>
                                            <p class="text20B" style="color: var(--dRed);">公休日&nbsp;<span>週三</span>
                                            </p>
                                        </div>
                                        <div class="text28B mt-l" style="margin-bottom: 11px;">配送地區</div>
                                        <div style="padding-right: 165px;padding-left: 16px;">
                                            <p class="text20R" style="color: var(--dDeepGray);">台中市南屯區 / 台中市西區</p>
                                        </div>
                                        <div class="text28B mt-l" style="margin-bottom: 11px;">注意事項</div>
                                        <div style="padding-right: 165px;padding-left: 16px;">
                                            <p class="text20R" style="color: var(--dDeepGray);">
                                                {{ dbStoreInformation[0].storeNotice }}</p>
                                        </div>
                                    </div>
                                    <!-- 店家評論 -->
                                    <div class="mealsScroll" v-if="tab === 3" v-show="tab===3">
                                        <ul class="evaluationList">
                                            <!-- 1 -->
                                            <li class="dblock d-flex pl-0" v-for="comment in dbComment">
                                                <!-- <span class="photo"></span> -->
                                                <img :src="'/image/會員資料/大頭照/' + comment.memberPhoto">
                                                <span class="content">
                                                    <h2 class="text24B">{{ comment.memberName }}</h2>
                                                    <div class="star">
                                                        <i
                                                            :class="comment.commentScore>=1 ? 'icon-spoon' : 'icon-borderspoon'"></i>
                                                        <i
                                                            :class="comment.commentScore>=2 ? 'icon-spoon' : 'icon-borderspoon'"></i>
                                                        <i
                                                            :class="comment.commentScore>=3 ? 'icon-spoon' : 'icon-borderspoon'"></i>
                                                        <i
                                                            :class="comment.commentScore>=4 ? 'icon-spoon' : 'icon-borderspoon'"></i>
                                                        <i
                                                            :class="comment.commentScore==5 ? 'icon-spoon' : 'icon-borderspoon'"></i>
                                                    </div>
                                                    <p class="text20R">
                                                        {{ comment.commentContent }}</p>
                                                    <p class="text16">{{comment.commentTime}}</p>
                                                </span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </ul>
            </div>
        </div>


        <!-- 儲存彈框 -->
        <div class="modal fade sm2Btn" id="comfirm2Btn">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text28B">確認修改</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class=" icon-close"></i>
                        </button>
                    </div>
                    <p class="modal-body text24R">
                        點選確認修改後將會為您即時更新資料
                    </p>
                    <div class="modal-footer">
                        <button class="text20R dbtn btnW" data-dismiss="modal">取消返回</button>
                        <button class="text20R dbtn btnY ml-3" data-dismiss="modal" aria-label="Close" @click="setInformation()">確認修改</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 選擇地區彈框 -->
        <div class="modal fade xl2Btn" id="comfirm2BtnW1340">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text28B w-100 text-center">配送地區</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class=" icon-close"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- 北部 -->
                        <div class="mb-s">
                            <div class="text20B areaTitle">北部</div>
                            <div class="areaSelect" v-for="(area,index) in northList.sort">
                                <span class="d-flex">
                                    <div class="contry" :class="{countrySelect : area==tempSelectList[0].country}">
                                        <input type="checkbox" @click="countryCheck(area)">
                                        <label class=" text20R"
                                            :class="{countrySelectText : area==tempSelectList[0].country}"
                                            @click="handleSelect(index,area)">{{ area }}</label>
                                    </div>
                                    <div class="contrySelect"></div>
                                </span>
                                <div class="dblock row areaBlock" v-if="area==tempSelectList[0].country">
                                    <div class="area" v-for="a in tempSelectList">
                                        <input type="checkbox" :id="'north'+a.districtID" v-model="a.isSelect">
                                        <label :for="'north'+a.districtID" class="text20R">{{a.districtName}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 中部 -->
                        <div class="mb-s">
                            <div class="text20B areaTitle">中部</div>
                            <div class="areaSelect" v-for="(area,index) in centralList.sort">
                                <span class="d-flex">
                                    <div class="contry" :class="{countrySelect : area==tempSelectList[0].country}">
                                        <input type="checkbox" @click="countryCheck(area)">
                                        <label class=" text20R"
                                            :class="{countrySelectText : area==tempSelectList[0].country}"
                                            v-on:click="handleSelect(index,area)">{{ area }}</label>
                                    </div>
                                    <div class="contrySelect"></div>
                                </span>
                                <div class="dblock row areaBlock" v-if="area==tempSelectList[0].country">
                                    <div class="area" v-for="a in tempSelectList">
                                        <input type="checkbox" :id="'north'+a.districtID" v-model="a.isSelect">
                                        <label :for="'north'+a.districtID" class="text20R">{{a.districtName}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 南部 -->
                        <div class="mb-s">
                            <div class="text20B areaTitle">南部</div>
                            <div class="areaSelect" v-for="(area,index) in southList.sort">
                                <span class="d-flex">
                                    <div class="contry" :class="{countrySelect : area==tempSelectList[0].country}">
                                        <input type="checkbox" @click="countryCheck(area)">
                                        <label class=" text20R"
                                            :class="{countrySelectText : area==tempSelectList[0].country}"
                                            v-on:click="handleSelect(index,area)">{{ area }}</label>
                                    </div>
                                    <div class="contrySelect"></div>
                                </span>
                                <div class="dblock row areaBlock" v-if="area==tempSelectList[0].country">
                                    <div class="area" v-for="a in tempSelectList">
                                        <input type="checkbox" :id="'north'+a.districtID" v-model="a.isSelect">
                                        <label :for="'north'+a.districtID" class="text20R">{{a.districtName}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 東部 -->
                        <div class="mb-s">
                            <div class="text20B areaTitle">東部</div>
                            <div class="areaSelect" v-for="(area,index) in eastList.sort">
                                <span class="d-flex">
                                    <div class="contry" :class="{countrySelect : area==tempSelectList[0].country}">
                                        <input type="checkbox" @click="countryCheck(area)">
                                        <label class=" text20R"
                                            :class="{countrySelectText : area==tempSelectList[0].country}"
                                            v-on:click="handleSelect(index,area)">{{ area }}</label>
                                    </div>
                                    <div class="contrySelect"></div>
                                </span>
                                <div class="dblock row areaBlock" v-if="area==tempSelectList[0].country">
                                    <div class="area" v-for="tempSelect in tempSelectList">
                                        <input type="checkbox" :id="'north'+tempSelect.districtID"
                                            :value="tempSelect.districtID" v-model="selectedDelivery.districkID">
                                        <label :for="'north'+tempSelect.districtID"
                                            class="text20R">{{tempSelect.districtName}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="text20B" style="margin-top: 70px;display: inline-block;margin-right: 40px;">已選擇區域
                        </div>
                        <button v-for="delivery in dbStoreDelivery"
                            class="dbtn btnY text20B areaSelected">{{ delivery.country }}{{ delivery.districtName }}<i
                                class="icon-close"></i> </button>


                    </div>
                    <div class="modal-footer">
                        <button class="text20R dbtn btnW" data-dismiss="modal">取消返回</button>
                        <button class="text20R dbtn btnY ml-3">確認修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascript/vue.js"></script>
    <script>
        let data = {
            deliveryList: [],
            selectedDelivery: {
                districkID: []
            },
            informationData:{
                storeName:"",
                storePhone:"",
                storeAddress:"",
                storeOpen:"",
                storeClose:"",
                storeIntroduction:"",
                storeNotice:""
            },
            tempSelectList: [{ country: "無" }],
            dbStoreInformation: JSON.parse('<%- a %>'),
            dbDistrickNorth: JSON.parse('<%- b %>'),
            dbDistrickCentral: JSON.parse('<%- c %>'),
            dbstoreProduct: JSON.parse('<%- d %>'),
            dbCommentScore: JSON.parse('<%- e %>'),
            dbComment: JSON.parse('<%- f %>'),
            dbOrderSelect: JSON.parse('<%- g %>'),
            dbDistrickSouth: JSON.parse('<%- h %>'),
            dbDistrickEast: JSON.parse('<%- i %>'),
            dbDistrick: JSON.parse('<%- j %>'),
            dbStoreDelivery: JSON.parse('<%- k %>'),
            tab: 1,
            active: true,
            id: 3,
            

        }
        let storeInformation = new Vue({
            el: "#storeInformation",
            data: data,
            computed: {
                // 北部
                northList() {
                    let dbDistrickObj = {
                        sort: [],
                        map: {},
                    }
                    this.dbDistrickNorth.forEach(({ districtID, districtName, country, isSelect }, index) => {
                        if (!dbDistrickObj.map[country]) {
                            dbDistrickObj.sort.push(country)
                            dbDistrickObj.map[country] = {
                                sort: [],
                                map: {},
                            }
                        }
                        dbDistrickObj.map[country].sort.push({ districtName, districtID, isSelect })
                        // dbDistrickObj.map[country].sort.push({isShow: false})
                        dbDistrickObj.map[country].map[districtName] = { districtID, isSelect }
                    })
                    return dbDistrickObj
                },
                // 中部
                centralList() {
                    let dbDistrickObj = {
                        sort: [],
                        map: {},
                    }
                    this.dbDistrickCentral.forEach(({ districtID, districtName, country, isSelect }, index) => {
                        if (!dbDistrickObj.map[country]) {
                            dbDistrickObj.sort.push(country)
                            dbDistrickObj.map[country] = {
                                sort: [],
                                map: {},
                            }
                        }
                        dbDistrickObj.map[country].sort.push({ districtName, districtID, isSelect })
                        // dbDistrickObj.map[country].sort.push({isShow: false})
                        dbDistrickObj.map[country].map[districtName] = { districtID, isSelect }
                    })
                    return dbDistrickObj
                },
                // 南部
                southList() {
                    let dbDistrickObj = {
                        sort: [],
                        map: {},
                    }
                    this.dbDistrickSouth.forEach(({ districtID, districtName, country, isSelect }, index) => {
                        if (!dbDistrickObj.map[country]) {
                            dbDistrickObj.sort.push(country)
                            dbDistrickObj.map[country] = {
                                sort: [],
                                map: {},
                            }
                        }
                        dbDistrickObj.map[country].sort.push({ districtName, districtID, isSelect })
                        // dbDistrickObj.map[country].sort.push({isShow: false})
                        dbDistrickObj.map[country].map[districtName] = { districtID, isSelect }
                    })
                    return dbDistrickObj
                },
                // 東部
                eastList() {
                    let dbDistrickObj = {
                        sort: [],
                        map: {},
                    }
                    this.dbDistrickEast.forEach(({ districtID, districtName, country, isSelect }, index) => {
                        if (!dbDistrickObj.map[country]) {
                            dbDistrickObj.sort.push(country)
                            dbDistrickObj.map[country] = {
                                sort: [],
                                map: {},
                            }
                        }
                        dbDistrickObj.map[country].sort.push({ districtName, districtID, isSelect })
                        // dbDistrickObj.map[country].sort.push({isShow: false})
                        dbDistrickObj.map[country].map[districtName] = { districtID, isSelect }
                    })
                    return dbDistrickObj
                },
                productList() {
                    let productObj = {
                        sort: [],
                        map: {}
                    };
                    this.dbstoreProduct.forEach(({ categoryName, productName, productPhoto, productinformation, productPrice }, index) => {
                        if (!productObj.map[categoryName]) {
                            productObj.sort.push(categoryName)
                            productObj.map[categoryName] = {
                                pSort: [],
                            }
                        }
                        productObj.map[categoryName].pSort.push({ productName, productPhoto, productinformation, productPrice })
                        // productObj.map[categoryName].map[productName] = {index,productPhoto,productinformation}
                    });
                    return productObj;
                },


                completeRate: function () {
                    let complete = 0;
                    let count = this.dbOrderSelect.length;
                    for (let index = 0; index < count; index++) {
                        if (this.dbOrderSelect[index].orderStatus > 0) {
                            complete += 1;
                        }
                    }
                    return Math.floor(complete / count * 100);
                },
                // isSelect(){
                //     console.log(this.north[0].districtName[0].selected)
                //     return this.north[0].districtName[0].selected
                // }

                
            },
            mounted: function () {
                let time = this.dbComment.length;
                for (let index = 0; index < time; index++) {
                    this.dbComment[index].commentTime = getDate(this.dbComment[index].commentTime);
                }
            },
            methods: {
                tabClick(index) {
                    this.tab = index
                    return this.tab
                },
                // 區選單
                handleSelect(index, area) {
                    if (area == this.tempSelectList[0].country) {
                        this.tempSelectList = [{ country: "無" }]
                    } else {
                        this.tempSelectList = this.dbDistrick.filter(item => {
                            if (item.country == area) return item
                        })
                    }
                    // console.log(area)


                },
                countryCheck(area) {
                    var allCheck = this.dbDistrick.filter(item => {
                        if (item.country == area) return item
                    })
                    if (event.target.checked == true) {
                        allCheck.forEach(item => {
                            item.isSelect = true
                        })
                    } else {
                        allCheck.forEach(item => {
                            item.isSelect = false
                        })
                    }
                },
                setInformation(){
                // console.log(this.dbStoreInformation[0].storeName) 
                this.informationData.storeName=this.dbStoreInformation[0].storeName
                this.informationData.storePhone=this.dbStoreInformation[0].storePhone
                this.informationData.storeAddress=this.dbStoreInformation[0].storeAddress
                this.informationData.storeOpen=this.dbStoreInformation[0].storeOpen
                this.informationData.storeClose=this.dbStoreInformation[0].storeClose
                this.informationData.storeIntroduction=this.dbStoreInformation[0].storeIntroduction
                this.informationData.storeNotice=this.dbStoreInformation[0].storeNotice
                console.log(this.informationData);
                fetch('http://localhost:3200/sInformation/update',{
                    method: 'put',
                        body: JSON.stringify(this.informationData),
                        headers: new Headers({
                            'Content-Type': 'application/json'
                        })
                })
                .then(function (res) {
                        return res.json();
                        console.log(res.json());
                        // location.href = "/sInformation"
                    })
            }
            
            
            },




        })

        function q() {
            var ar = document.querySelectorAll("input[type='checkbox'][class='bee']:checked");
            console.log(ar);
        }
    </script>




</body>

</html>